.login {
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
}

.login-container > img {
    object-fit: contain;
    height: 200px;
    background: transparent;
    margin: 50px 0px;
}